body {
  font-family: "Poppins", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  margin: 0;
  background-position: center;
  background-size: cover;
 }

p {
  font-weight: 300; }

.drawing {
  width:400px; 
  height:300px;
  margin:auto;
}

.container {
  display:flex;
  flex:1;
  /*flex-wrap: wrap; <-- commenting for the greater good */
  flex-direction:row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0;
  width:100%;
  /* I added this part but don't think it's working */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#plot_container {
  display: flex; /*redundant*/
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
    transition: all 1s;
}
/*#plot_container:hover {
  border: 2px solid #ffb3ec;
} I changed my mind */

.block-with-all-the-plots {
  text-align:center;
  padding-bottom:10rem;
  /*display: inline-block;*/
  display:block;
  float:left;
  max-width:400px;
  padding-top: 6rem;
}

/* .full-run-list {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
} */

/* FORMATTING FOR NAVIGATION BAR! */
.navigator-bar {
  background-color:#1e59ae;
  /*overflow:hidden;*/
  position:fixed;
  top:0;
  width:100%;
  z-index:10; /*lol*/
  /*display: flex;*/
  text-align: left;
}

.navigator-bar img {
  max-height:55px;
  float: left;
}

.navigator-bar a {
  color:#f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 10px;
}

.navigator-bar a:hover {
  background-color:#9999ff;
  color:#f2f2f2; /* inherits default hover color otherwise */
}

.navigator-bar .search-again {
  float:right;
}

.navigator-bar .inner-link {
  float:left;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.mb-5 {
  margin-top: 6rem;
  text-align:left;
  font-weight:bold;
}

.table-responsive .dataframe {
  background-color:white;
  table-layout: fixed;
}
.table-responsive .dataframe tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-responsive .dataframe tr {
  text-align: center !important;
}
.table-responsive .dataframe thead {
  background-color: #00004d;
  font-size: 24px;
  color: #e6e6ff;
}
.table-responsive .dataframe thead:hover {
  color: white;
}
.table-responsive .dataframe thead tr th {
  width: 20%;
}
.table-responsive .dataframe tr:hover {
  background-color: #ffb3ec;
  font-weight: bold;
}

.custom-table {
  min-width: 900px; 
  text-align: center;
  }
  .custom-table thead tr, .custom-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #000; }
  .custom-table tbody th, .custom-table tbody td {
    color: #777;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table tbody th small, .custom-table tbody td small {
      color: #b3b3b3;
      font-weight: 300; }
  .custom-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .custom-table tbody tr .name {
      text-decoration: line-through;
      position: relative;
      display: inline-block; }
      .custom-table tbody tr .name:before {
        content: "";
        height: 2px;
        top: 50%;
        position: absolute;
        left: 0;
        right: 0;
        background: #dc3545;
        opacity: 0;
        visibility: hidden; }
    .custom-table tbody tr.active {
      opacity: .4; }
      .custom-table tbody tr.active .name:before {
        opacity: 1;
        visibility: visible; }
  .custom-table .td-box-wrap {
    padding: 0; }
  .custom-table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px; }
    .custom-table .box td, .custom-table .box th {
      border: none !important; }

.custom-control.ios-switch {
  --color: #4cd964;
  padding-left: 0; }
  .custom-control.ios-switch .ios-switch-control-input {
    display: none; }
    .custom-control.ios-switch .ios-switch-control-input:active ~ .ios-switch-control-indicator::after {
      width: 20px; }
    .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator {
      border: 10px solid var(--color); }
      .custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator::after {
        top: -8px;
        left: 4px; }
    .custom-control.ios-switch .ios-switch-control-input:checked:active ~ .ios-switch-control-indicator::after {
      left: 0px; }
    .custom-control.ios-switch .ios-switch-control-input:disabled ~ .ios-switch-control-indicator {
      opacity: .4; }
  .custom-control.ios-switch .ios-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #ddd; }
    .custom-control.ios-switch .ios-switch-control-indicator::after {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      top: 0px;
      left: 0px;
      background: #fff;
      -webkit-box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
      box-shadow: 0 0 2px #aaa, 0 2px 5px #999; }

/* Custom Checkbox */
.control {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: transparent; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border: 2px solid #007bff; }

.control input:checked ~ .control__indicator {
  border: 2px solid #007bff;
  background: #007bff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #ccc; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #007bff;
  opacity: .2;
  border: 2px solid #007bff; }

