<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" />
    <link href="static/css/dropdowntree.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/images.ico')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DQM Query</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <script src="static/js/dropdowntree.js"></script>
    <div class="s003">
      <form action = ./results id="form">
        <div class="inner-form">
          <div type="hidden" style="display:none;" class="input-field first-wrap">
            <div class="input-select" type="hidden">
              <select data-trigger="" name="dataset_types" type="hidden">
                <option placeholder="">ZeroBias</option>
              </select>
            </div>
          </div>
          <div class="input-field first-wrap">
            <div class="dropdown dropdown-tree input-select" id="example">
            <!-- <div class="input-select">
              <select class="selectpicker" data-live-search="true" name="plot_types" multiple style>
                <option placeholder="">L1T/Run summary/L1TStage2EMTF/emtfTrackEta</option>
                <option>L1T/Run summary/L1TStage2EMTF/emtfTrackPhi</option>
                <option placeholder="">L1T/Run summary/L1TStage2EMTF/emtfTrackBX</option>
                <option placeholder="">L1T/Run summary/L1TStage2EMTF/emtfTrackMode</option>
                <option placeholder="">L1T/Run summary/L1TStage2EMTF/emtfTrackOccupancy</option>
                <option placeholder="">L1T/Run summary/L1TStage2EMTF/emtfTrackPt</option>
                <option placeholder="">L1T/Run summary/L1TStage2EMTF/rpcHitBX</option>
              </select> -->
            </div>
          </div> 
          <script>
            const data = [
              {
                title:"L1T", dataAttrs:[{title:"selectable", data:false}], data:
                [{title: "Run summary", dataAttrs:[{title:"selectable", data:false}], data:
                  [{title: 'L1TStage2EMTF', dataAttrs:[{title: "selectable", data:false}], data:
                     [
                        {title:'emtfTrackBX', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'emtfTrackMode', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'emtfTrackOccupancy', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'emtfTrackPt', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'rpcHitBX', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'cscDQMOccupancy', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'cscLCTBX', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'emtfErrors', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'emtfTrackEta', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'emtfTrackPhi', dataAttrs: [{title:"selectable", data:true}]},
		                {title:'gemHitBX', dataAttrs: [{title:"selectable", data:true}]},
		                {title:'gemHitOccupancy', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'rpcHitOccupancy', dataAttrs: [{title:"selectable", data:true}]},
                        {title:'SelectedTracks', dataAttrs:[{title:"selectable", data:false}], data:
                            [
                                {title:'emtfTrackEtaHighQuality', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackEtaHighQualityHighPT', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackOccupancyHighQuality', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackOccupancyHighQualityHighPT', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackPhiHighQuality', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackPhiHighQualityHighPT', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackPtHighQuality', dataAttrs: [{title:"selectable", data:true}]},
                                {title:'emtfTrackPtHighQualityHighPT', dataAttrs: [{title:"selectable", data:true}]}
                            ]
                        }
                     ]
                  }]
                }]
              }];

          $("#example").DropDownTree({
            data: data,
            title: "Plot type",
            closedArrow : '<i class="fa fa-caret-right" aria-hidden="true"></i>',
            openArrow: '<i class="fa fa-caret-down" aria-hidden="true"></i>',
            maxHeight : 300,
            selectChildren: false,
            addChildren: false,
            rtl: false,
            multiSelect: true,
            clickHandler: function(element){
				        //gets clicked element parents
                console.log($(element).GetParents());
                //element is the clicked element
                console.log(element);
                $("#example").SetTitle(('#example').GetTitle() + $(element).find("a").first().text());
                
              },
            checkHandler: function(element){
              
                $("#example").SetTitle($(element).find("a").first().text());
                console.log("Selected Elements",$("#example").GetSelected());
            }
            
            })
          </script>
          <div class="input-field first-wrap">
            <div class="input-select">
              <select class = "selectpicker" data-live-search = "true" name="run_class">
                <option placeholder="">Collisions</option>
                <option placeholder="">Cosmics</option>
              </select>
            </div> 
          </div>
          <div class="input-field second-wrap">
            <input id="ls-search" name="ls" type="text" placeholder="Enter Minimum Run Duration in LS" />
          </div>
          <div class="input-field second-wrap">
            <input id="num-search" name="nm" type="text" placeholder="Enter Run Numbers (e.g. '355891, 355865, 355400:355500')" />
          </div>
          <!-- going to put a check to allow users to choose if they want a table or not! -->

          <!--div class="input-field first-wrap">
            <div class="input-select">
              <select class = "selectpicker" data-live-search = "true" name="table_toggle">
                <option placeholder="">Generate Timing Table</option>
                <option placeholder="">Do not generate</option>
              </select>
            </div>
          </div-->

          <div class="input-field third-wrap">

            <button class="btn-search" type="submit" form="form">
              <svg 
                class="svg-inline--fa fa-search fa-w-16"
                aria-hidden="true"
                data-prefix="fas"
                data-icon="search"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path> <!-- draws lil magnifying glass logo! -->
              </svg>
            </button>

          </div>
        </div>
        <input type="hidden" name="plot_types" id="plot_types"/>
      </form>
    </div>
    <script src="{{ url_for('static',filename='js/extention/choices.js') }}"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });
    </script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html><!-- This template was updated by Lucas Faria de Sá Tucker, check out my tiktok idk @lutuck -->
